<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522123670428-d6v24li6vul2b7ugq26t3feut2m0eg9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522123670428-d6v24li6vul2b7ugq26t3feut2m0eg9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAOPbsSFqZfb4isKAgrlfBC6y47OHlJNRo</string>
	<key>GCM_SENDER_ID</key>
	<string>522123670428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devfest.bahrain</string>
	<key>PROJECT_ID</key>
	<string>gdg-devfest-b92ee</string>
	<key>STORAGE_BUCKET</key>
	<string>gdg-devfest-b92ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522123670428:ios:f408249a0c0653ec01ce59</string>
	<key>DATABASE_URL</key>
	<string>https://gdg-devfest-b92ee.firebaseio.com</string>
</dict>
</plist>